<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<div class="container text-center">
    <h1>About:</h1>
    <p>
        This page/site provides the ability to randomly generate your own original password.
    To create a password, you need to select the options:
    numbers, special, upper case, and password length
        <br><br><br>
        E-mail: emelyanenkoig@yandex.ru
        <br>
        Telegram: @PrinceofMononoke
        <br>
        Created by Igor Emelyanenko
    </p>
    <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>